# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
ui/dist/

# Vite
ui/.vite/

# Env
.env
.env.local
.env.*.local

# Local config
config.json

# Data
.data/

# OS
.DS_Store

# Logs
*.log

# Coverage
coverage/

# Misc
*.tsbuildinfo
